<div class="inscripcion">
        <div class="info-title">Inscripción<hr/></div>
    <div class="texto">
        ¿Te gustan nuestras recetas? ¿Quieres formar parte de la comunidad?
        ¡Pues registrate y participa! Solo debes rellenar el formulario siguiente:
    </div>
    <div class="web-inscripcion">
        <form action="http://www.example.com/login.php">
            <div class="usuario">
                
            <div class="form-name">Usuario</div>
                <input class="espacio" type="text" name="username" size="15"
                maxlength="30" placeholder="Usuario"/>
            
            </div>
            <div class="password">
            <div class="form-name">Contraseña:</div>
                <input class="espacio" type="password" name="password" size="15"
                maxlength="30" placeholder="Contraseña" />
        </div>
            <div class="password2">
            <div class="form-name">Confirma tu contraseña:</div>
                    <input class="espacio" type="password" name="password2" size="15"
                    maxlength="30" placeholder="Repite la contraseña"/>
            </div>
            <div class="email">
            <div class="form-name">Correo electrónico:</div>
                <input class="espacio" type="text" name="email" size="15"
                maxlength="50" placeholder="Correo electrónico"/>
            </div>
         <div class="paneles"> 
            <label for="form-ubi">Ubicación:</label>
                <select name="place">
                <option value="esp">España</option>
                <option value="fr">Francia</option>
                <option value="it">Italia</option>
                <option value="br">Inglaterra</option>
                <option value="gr">Alemania</option>
                <option value="prt">Portugal</option>
                </select>

            <label for="form-ubi">Sexo:</label>
                <select name="sexo">
                <option value="m">Mujer</option>
                <option value="h">Hombre</option>
                <option value="ot">Otro</option>
                </select>
            </div>  
           <div class="enviar-button">
               <button>Inscribirse</button>
           </div>
        </form>

        <div class="web-social">
            <a href="https://www.instagram.com/"><img class="foto-social" src="https://image.flaticon.com/icons/svg/69/69366.svg"></a>
            <a href="https://twitter.com/"><img class="foto-social" src="https://image.flaticon.com/icons/svg/69/69480.svg"></a>
            <a href="https://www.facebook.com/"><img class="foto-social" src="https://image.flaticon.com/icons/svg/69/69407.svg"></a>
            <a href="https://plus.google.com/discover"><img class="foto-social" src="https://image.flaticon.com/icons/svg/69/69444.svg"></a>
    </div>
</div>
</div>