<header class="web-header">

    <div class="elements">
        <div>
            <img class="web-logo" src="../img/logo.png">
        </div>
        <div class="web-title">
            <p>Recetas de cine</p>
        </div>
        <div>
        <div class="search">
            <img class="lupa" src="../img/lupa.png">
            <input class="busquedas" type="search" placeholder="Buscar...">
        </div>
    </div>
    </div>

<div class="web-menu">
    <div class="enlaces"><a href="index.html">inicio</a></div>
    <div class="enlaces"><a href="inscripcion.html">inscripción</a></div>   
    <div class="enlaces"><a href="about.html">recetas</a></div>    
</div>

<div class="web-social">
        <a href="https://www.instagram.com/"><img class="foto-social" src="../img/insta.png"></a>
        <a href="https://twitter.com/"><img class="foto-social" src="../img/tw.png"></a>
        <a href="https://www.facebook.com/"><img class="foto-social" src="../img/face.png"></a>
        <a href="https://plus.google.com/discover"><img class="foto-social" src="../img/gplus.png"></a>
</div>
</header>