<div class="web-info">
    <div class="info-title">Listado recetas<hr/></div>
    <div class="texto">
        Aquí encontrarás un listado de todas las recetas disponibles
        en nuestra web, ¡echales un vistazo!
    </div>
    <ul>
        <li>Courtesan au chocolat</li>
        <li>Cheeseburguer</li>
        <li>Beignets</li>
        <li>Pizza Calabese</li>
        <li>Sandwich de queso fundido</li>
        <li>Apfelstrudel</li>
        <li>Tarta tartín de cebolla caramelizada</li>
        <li>Pollo a la plancha</li>
        <li>Tamales</li>
        <li>Pastel de crema de chocolate y caramelo</li>
    </ul>
</div>